@layer base {
  :root {
    --border_clr: rgba(192, 190, 190, 0.7);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: "Dosis", sans-serif;
    background-color: #ebebeb;
    padding-top: 30px;
  }
}
@layer nav {
  .wrapper {
    margin: 0 auto;
    max-width: 80%;
  }
  header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    /* margin-top: 1rem; */
    position: fixed;
    top: 5px;
  }
  ul li a,
  .logo a {
    color: black;
  }
  .logo {
    padding-inline-start: 30px;
  }
  .nav_head ul {
    display: flex;
    gap: 40px;
  }
  #focus:focus {
    text-decoration: underline;
  }
}
@layer nav_styles {
  .btn {
    padding-inline: 20px;
    padding-block: 10px;
    background-color: rgb(33, 33, 33);
    border-radius: 0.8rem;
    color: white;
  }
}
@layer about {
  #home {
    text-align: center;
    margin-block-start: 100px;
  }
  .home h1 {
    font-size: 40px;
  }
  #home p {
    font-size: 25px;
    padding-top: 10px;
  }
  #about {
    margin: 45px auto;
    max-width: 900px;
    height: 250px;
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    padding-inline-start: 10px;
  }
  #about img {
    display: inline-block;
    width: 29%;
    height: inherit;
    border-radius: 20px;
    /* padding-inline: 20px; */
    border: 1px solid rgb(192, 190, 190);
    object-fit: cover;
  }
  #about .about_text {
    font-size: 20px;
    /* line-height: 1.6; */
    padding: 20px 20px 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgb(192, 190, 190);
  }
  .about_text {
    width: 100%;
    height: fit-content;
  }
  .about_text1 {
    display: none;
  }
  #about p {
    line-height: 3;
  }
  .about_text h2 {
    padding-block-end: 10px;
  }
}
@layer skills {
  #skills {
    border: 1px solid var(--border_clr);
    padding: 15px 15px 20px 15px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
  }
  #skills h2 {
    text-align: center;
    margin-block-end: 20px;
  }
  .context {
    border: 1px solid var(--border_clr);
    padding: 20px;
    width: 320px;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .context img {
    max-width: 100%;
  }
  .context ul {
    margin-left: 10px;
    padding-top: 10px;
  }
  .main_context {
    display: flex;
    justify-content: space-evenly;
  }
}
@layer expirence {
  #expirence {
    margin-top: 40px;
    width: inherit;
    height: 335px;
    font-size: 18px;
    border: 1px solid var(--border_clr);
    background-color: white;
    border-radius: 20px;
    text-align: center;
  }
  #expirence [alt="work expirence"] {
    margin-block-start: 20px;
    margin-inline-start: 20px;
    width: 45px;
    height: auto;
  }
  #expirence h2 {
    margin: 1.1rem 0px 10px 20px;
  }
  .exp_content {
    padding: 0px 30px 20px 40px;
  }
  .exp_content h4 {
    font-size: 20px;
  }
  .exp_content p {
    padding: 5px;
  }
  .exp_content h4 i {
    font-weight: 200;
  }
  .date {
    display: flex;
    gap: 7px;
    justify-content: end;
    padding-inline-end: 120px;
  }
}
@layer footer {
  #footer {
    margin-top: 30px;
    width: inherit;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    font-size: 17px;
    /* text-align: center; */
  }
  #footer a {
    color: white;
  }
  .wrap {
    width: 50%;
    padding: 0px 20px 0 50px;
  }
  .wrap div {
    margin-top: 5px;
  }
  .wrap div:hover {
    text-decoration: underline;
  }
  .wrap div img {
    padding-right: 10px;
    padding-left: 24px;
  }
  #education {
    width: 50%;
    line-height: 2;
    margin: 0 auto;
    padding-left: 50px;
  }
  .location {
    padding-top: 10px;
  }
  .location a img {
    padding: 0 0 0 20px;
  }
}
@media (max-width: 500px) {
  .wrapper {
    margin: 0 auto;
    max-width: 100%;
  }
  .flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  body {
    padding-top: 0px;
  }
  header {
    display: none;
  }
  #about {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
  }
  #about img {
    width: 100%;
    display: block;
  }
  #about .about_text {
    display: none;
  }
  .about_text1 {
    display: block;
    width: 100%;
    height: inherit;
    font-size: 18px;
    /* line-height: 1.6; */
    padding: 20px 20px 20px 30px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgb(192, 190, 190);
  }

  .main_context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #skills {
    display: flex;
    flex-direction: column;
  }
  .exp_content {
    padding: 0px 20px 10px 20px;
  }
  #expirence {
    height: 430px;
  }
  footer#footer {
    height: fit-content;
    flex-direction: column-reverse;
    padding: 30px;
  }
  #education,
  .wrap {
    width: 100%;
    padding: 0;
  }
  #education {
    line-height: 1.6;
  }
  .wrap {
    padding-top: 30px;
  }
  #home {
    margin-block-start: 20px;
  }
  #about p {
    line-height: 1.5;
  }
  .exp_content p {
    padding: 3px;
    font-size: 16px;
  }
  .date {
    padding-bottom: 30px;
    display: flex;
    gap: 7px;
    text-align: center;
    justify-content: center;
    text-wrap: nowrap;
    text-align: center;
    padding-right: 30px;
  }
  .collage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }

  .collapsible {
    background-color: #f4f4f4;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--border_clr);
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 19px;
    transition: background-color 0.3s ease;
  }
  .collage-section.open {
    justify-self: center;
    max-height: 1600px;
    width: 480px;
    padding-inline-start: 20px;
  }
  .collage-item img {
    width: 190px;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  .context {
    border: 1px solid var(--border_clr);
    padding: 30px;
    width: 290px;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 18px;
  }
}
@media (max-width: 850px) {
  .flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .flex > * {
    width: 100%;
  }
  #skills .main_context {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  #skills .main_context .context {
    width: 100%;
    margin-bottom: 20px;
  }
  #home {
    padding: 0 10px;
  }
  #expirence {
    padding: 0 10px;
  }
  #about {
    margin: 45px auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    gap: 5px;
    padding: 0 10px;
  }
  #about p {
    line-height: 1;
  }
  #about .about_text {
    font-size: 17.5px;
    word-wrap: break-word; /* Breaks long words to fit within the container */
    overflow-wrap: break-word;
  }
  .about_text {
    width: 100%;
    height: fit-content;
  }
  #expirence {
    height: fit-content;
  }
  .logo {
    display: none;
  }
  header {
    /* padding: 10px; */
    justify-content: center;
    padding-bottom: 10px;
  }
  .nav_head ul {
    display: flex;
    gap: 15px;
  }
  #about .about_text p {
    line-height: 1.5;
  }
  #footer {
    padding: 15px;
  }
  #education {
    padding-left: 5px;
  }
  .wrap div img {
    padding-right: 5px;
    padding-left: 0px;
  }
  .location {
    padding-top: 10px;
    font-size: 16px;
  }
  .location a img {
    padding: 0 0 0 0px;
    width: 29px;
    height: 24px;
  }
  .btn {
    padding-inline: 10px;
    padding-block: 9px;
    border-radius: 20px;
  }

}
